.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    background-color: var(--darkPrimary);
    box-shadow: 0 11px 8px -1px var(--boxShadowBackground);
    width: 100%;
    height: 70px;
    position: fixed;
}